<div class="row">
  <div class="col-lg-4">
    <h1>Piano</h1>
    <ul class="list-group">
      <li (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color:red ;"></li>
      <li (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color:blue ;">
      </li>
      <li (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: purple;">
      </li>
      <li (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: plum;">
      </li>
      <li (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: pink;">
      </li>
      <li (click)="aplicarSonido(6)" class="list-group-item list-group-item-action"
        style="background-color: palevioletred;"></li>
      <li (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: black;">
      </li>
    </ul>
  </div>
</div>
